.error-description {
    position: absolute;
    margin-top: 20%;
    width: 56%;
}

.error-description h3 {
    font-size: 44px;
    text-align: center;
}

@media screen and (max-width: 576px) {
    .ellipses {
        display: block;
    }
    
    .error-description {
        margin-top: 70%;
        width: 100%;
        text-align: center;
    }

    .error-description h3 {
        font-size: 28px;
    }
}