@import "./variables.scss";

@import "./global.scss";

@import "./button.scss";

@import "./input.scss";

@import "./search.scss";

@import "./dashboard.scss";

@import './container.scss';

@import './courseSelection.scss';

@import './index.scss';

@import './404.scss';

@import './scrollbar.scss';
