.selection--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
}

.icon--brandname {
    border-width: 0;
    background-color: $white;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 40px;
    z-index: 0;
}

select {
    background-color: $white;
    color: $dark-200;
    -webkit-appearance: none;
    background: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: 300px;
    background-size: 20px;
}

.form-group {
    height: 100%;
    position: relative;
}

@media screen and (min-width: 576px) {
    .selection--container {
        margin-top: 50%;
    }
    select {
        background-position: 440px;
    }
}

@media screen and (min-width: 768px) {
    .selection--container {
        margin-top: 30%;
    }
    select {
        background-position: 320px;
    }
}

@media screen and (min-width: 992px) {
    .selection--container {
        margin-top: 20%;
    }
    select {
        background-position: 500px;
    }
    .icon--brandname {
        top: 18px;
        right: 30px;
    }
}
