body {
    background-color: $primary;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    h1, h3, h5 {
        width: 100%;
        text-align: center;
    }
}