* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: $dark;
    height: 100%;
    margin: 0;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.8em;
    font-weight: 600;
}

h2 {
    font-size: 1.3em;
}

p {
    margin-top: 0;
    font-weight: 100;
}

.border {
    border: 1px solid $dark-100;
}

.border-primary {
    border-color: $primary;
}

.border-secondary {
    border-color: $secondary;
}

.border-radius {
    border-radius: 10px;
}

.shadow {
    box-shadow: -1px 4px 20px rgba(156, 152, 152, 0.25);
}

.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-dark {
    background-color: $dark-100;
}

.text-center {
    text-align: center;
}

.horizontal-rule {
    border-bottom: 1px solid $dark-200;
}

.font-weight-bold {
    font-weight: 500;
}

.font-weight-normal {
    font-weight: 200;
}

.align-self-center {
    align-items: center;
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-dark {
    color: $dark;
}

.fas,
.fab,
.fa {
    font-size: 20px;
}

.px {
    padding-left: 20px;
    padding-right: 20px;
}

.px-2 {
    padding-left: 40px;
    padding-right: 40px;
}

.py {
    padding-top: 20px;
    padding-bottom: 20px;
}
.p {
    padding: 20px;
}

.m {
    margin: 10px;
}

.my {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx {
    margin-right: 10px;
    margin-left: 10px;
}

.mt {
    margin-top: 20px;
}

.ml {
    margin-left: 5px;
}

.position--relative {
    position: relative;
}

.overflow {
    overflow: hidden;
}

.z-index {
    position: relative;
    z-index: 100;
}

@media screen and (min-width: 576px) {
    .shadow-sm-none {
        box-shadow: none;
    }
    body {
        font-size: 1em;
    }
    .d-sm-none {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
    .px-lg-4 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2.2em;
    }
    .bg--avatar {
        background-image: url("../images/people.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    .px-lg-4 {
        padding-left: 80px;
        padding-right: 80px;
    }
}
