body {
    background-color: $white;
}

.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    h1, h3, h5 {
        width: 100%;
        text-align: center;
    }
}

.border {
    border: 1px solid $dark-100;
}

.border-primary {
    border-color: $primary;
}

.border-secondary {
    border-color: $secondary;
}

.border-radius {
    border-radius: 10px;
}

.shadow {
    box-shadow: -1px 4px 20px rgba(156, 152, 152, 0.25);
}

.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.horizontal-rule {
    border: 1px solid $dark-100;
}

.font-weight-bold {
    font-weight: 500;
}