.in {
    position: absolute;
    width: 1087.46px;
    height: 1087.46px;
    left: calc(50% - 1087.46px / 2 - 463.52px);
    top: calc(50% - 1087.46px / 2 + 333.52px);
    border-radius: 50%;
    background: #fff3f5;
}

.out {
    position: absolute;
    width: 1282px;
    height: 1282px;
    left: calc(50% - 1282px / 2 - 471px);
    top: calc(50% - 1282px / 2 + 341px);
    border-radius: 50%;
    border: 5px solid #fff3f5;
}

@media screen and (max-width: 576px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 992px) {
}
