.form-control {
    width: 230px;
    height: 30px;
    border: 1px solid $primary;
    color: $dark;
    padding: 5px 30px;
    box-shadow: -1px 4px 20px rgba(156, 152, 152, 0.25);
    font-size: 14px;
    &:focus {
        border-color: darken($color: $primary, $amount: 3);
        outline: none;
        color: $dark;
    }
}

.form-large {
    width: 280px;
    height: 40px;
    padding: 10px 50px 10px 30px;
}
