.position--absolute {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    color: rgba(248, 86, 110, 0.3);
}

.icon--brand {
    position: absolute;
    right: 25px;
    top: 14px;
}

.justify-item-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .position--absolute {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .position--absolute {
        display: block;
    }
}
