.position--absolute {
    position: absolute;
    z-index: 100;
    font-size: 50px;
    color: rgba(248, 86, 110, 0.3);
}

.icon--brand {
    border-width: 0;
    background-color: $white;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 14px;
}

.icon--brand__reg {
    top: 57px;
}

.justify-item-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .position--absolute {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .position--absolute {
        display: block;
    }
    .icon--brand__reg {
        top: 60px;
        right: 100px;
    }
}

@media screen and (min-width: 992px) {
    .icon--brand__reg {
        top: 65px;
        right: 100px;
    }
}
