.position--absolute {
    position: absolute;
    display: flex;
    z-index: 100;
    font-size: 50px;
    color: rgba(248, 86, 110, 0.3);
}

.icon--brand {
    position: absolute;
    right: 25px;
    top: 9px;
}

.justify-item-center {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
